{% load static %}
<div class="header-container">
    <!-- left section with resource links -->
    <div class="header-links">
        <a href="https://hackerfab.ece.cmu.edu/" class="header-button">HackerFab Website</a>
        <a href="https://hackerfab.gitbook.io/hacker-fab-space" class="header-button">Gitbook</a>
        <a href="https://github.com/hacker-fab" class="header-button">GitHub</a>
    </div>

    <div class="logo-container">
        <a href="{% url 'login' %}">
            <img src="{% static 'data_management/images/hackerfab_logo.png' %}" alt="HackerFab Logo" class="logo">
        </a>
    </div>
        
    <!-- right Section with user name and logout button -->
    <div class="header-user">
        {% if user.is_authenticated %}
            <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
            <a href="{% url 'logout' %}" class="logout-button">Logout</a>
        {% endif %}
    </div>
</div>
