<!doctype html>
<html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title> Hacker Fab</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/data_management.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <style>
        table, th, td {
            border:1px solid black;
        }
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <div> Chip Summary </div>
    <table>
        <tr>
            <th>Chip Number</th>
            <td>Chip Owner</td>
            <td>Creation Time (EST)</td>
            <td>Notes</td>
        </tr>
        {% for a in all_entries %}
            <tr>
                <th>
                    <!-- Only insert link to the chip page for this chip if it has a positive chipnum; otherwise the path does not exist -->
                    {% if a.chip_number >= 0 %}
                        <a href="{% url 'chipnum' a.chip_number %}">{{a.chip_number}}</a>
                    {% else %}
                        {{a.chip_number}}
                    {% endif %}
                </th>
                <td>
                    {% if a.chip_owner.id == request.user.id %}
                    <a href="{% url 'mypfp' %}">{{a.chip_owner}}</a>
                    {% else %}
                    <a href="{% url 'otherpfp' a.chip_owner.id %}"  class="id_post_profile"
                    id="id_post_profile_{{post.id}}"> {{a.chip_owner}}</a>
                    {% endif %}
                </td>
                <td>{{a.creation_time}}</td>
                <td>{{a.notes}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}