{% extends "base.html" %}

{% load static %}

{% block title %}My Profile Page - Hacker Fab Database{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-page-container">
    <!-- Profile Header -->
    <div class="profile-header">
        <!-- Profile Image -->
        <div class="image-container">
            <img src="{% static 'images/holding_chip2.png' %}" alt="Chip Image" class="chip-image">
            <div class="chip-overlay">
                {% if not profile.picture %}
                    <img src="{% static 'images/default.png' %}" alt="Profile Image" class="profile-image">
                {% else %}
                    <img src="{% url 'photo' 'Profile' request.user.id %}" alt="Profile Image" class="profile-image">
                {% endif %}
            </div>
        </div>

        <!-- Info Card -->
        <div class="info-card">
            <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Username:</strong> {{ request.user.username }}</p>
        </div>
    </div>

    <!-- Settings Section -->
    <div class="settings-container">
        <!-- Profile Update Form -->
        <form class="upload-form" action="{% url 'mypfp' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="bio">Bio:</label>
            <textarea id="bio" name="text">{{ form.text.value }}</textarea>
            <label for="picture">Upload Image:</label>
            <input id="picture" type="file" name="picture">
            <button id="id_update_profile_button">Upload</button>
        </form>

        <!-- Change Password Section -->
        <div class="change-password">
            <h3>Change Password</h3>
            <form action="{% url 'mypfp' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ password_form.as_p }}
                </table>
                <button type="submit" class="change-password-btn">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
